*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/home-work-position.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    background-color: #3f0002;
}
header{
    background-color: #af2024;
    height: 40px;
    margin-bottom: 40px;
    display: block;
}
.logo{
    max-width: 960px;
    margin: auto;
}
ul{
    position: fixed;
    right:1px;
}
.facebook,.twitter{
    width: 50px;
    height: 50px;
    background-color: #af2024;
    list-style: none;
}
.twitter{
    background-color: #98161b;
}
.container{
    max-width: 710px;
    margin: auto;
    padding-bottom: 125px;
    background-color: #fff;
    position: relative;
    z-index: 2;
    bottom: -60px;
}
.container_head{
    padding: 26px 16px;
    background-color: #af2024;
}
.container_head h1{
    color: #fff;
    font-size: 17px;
}
.video_block{
    max-width: 567px;
    margin: auto;
    padding-top: 63px;
}
.video_block h2{
    margin-top: 29px;
    font-size: 15px;
    color: #98161b;
}
h2::after{
    display: block;
    content: ".........";
    width: 0px;
    background-color: #98161b;
    height: 3px;
    margin-bottom: 20px;
}
.video_block p{
    font-size: 13px;
    color: #98161b;
    line-height: 22px;
}
span{
    color: #7d7d7d;
}
footer{
    background-color: black;
    height: 300px;
    z-index: 1;
}
.footer_top{
    height: 33px;
    background-color: #3f0002;
}
